<!DOCTYPE html>
<html>
<head>
	<title>REGISTRATION FORM</title>
	<style>
		body{
			background-image:url(img1.jpg);
			background-size:cover;
			background-position:center;
		}
.login
 { 
 	background-color:#042331;
	height:110px;
	width:190px;
	margin:auto;
	border:1px ;
	padding:10px;
}

.login input 
{ 
	padding:5px;
	margin:5px;
 }
	</style>
</head>
	<body>
		<form method="post" action="registration">
			{% csrf_token %}
			{{ form }}
		<h1 text align="center">REGISTER  HERE</h1>
			<div class="login">
				<input type="text" name="name" id="name" placeholder="Enter Your Name"><br><br>
				<input type="password" name="pw" id="pw" placeholder="Enter Your password"><br><br>
				<input type="text" name="clname" id="clname" placeholder="Enter Your College Name"><br><br>	
				<input type="text" name="rno" id="rno" placeholder="Enter Your Rollno"><br><br>
				<input type="text" name="branch" id="branch" placeholder="Enter Your Branch"><br><br>
				<input type="number" name="year" id="year" placeholder="Year"><br><br>
				<input type="text" name="mobile no" id="mobile no" placeholder="Enter Your Mobile number"><br><br>
				<input type="text" name="email" id="name" placeholder="Enter Your Email id"><br><br>
				<input type="submit">	
			</div>
		</form>
	</body>
</html>